<div class="container">
  <div class="title moving-colors m-2">Les 10 étapes</div>
  <app-menu [(selectedMenu)]="selectedMenu"></app-menu>
  <ng-container *ngIf="selectedMenu == 0">
    <app-phases></app-phases>
  </ng-container>
  <ng-container *ngIf="selectedMenu == 1">
    <app-phases [seed]="'default'"></app-phases>
  </ng-container>
  <ng-container *ngIf="selectedMenu == 2">
    <div class="container message-container">
      Saisis un mot-clé et un nombre d'étapes. Valider pour générer des étapes.
    </div>
    <div class="container form-container mt-2">
      <input
        class="w-40"
        type="text"
        [(ngModel)]="customSeed"
        placeholder="Un mot clé ici"
      />
      <input
        class="w-15"
        type="number"
        [(ngModel)]="customNumberPhases"
        placeholder="étapes"
        min="1"
        max="30"
      />
      <button class="w-20" (click)="onValidateForm()">Valider</button>
    </div>
    <app-phases
      #customPhases
      *ngIf="validatedForm"
      [seed]="customSeed"
      [numberPhases]="customNumberPhases"
    ></app-phases>
  </ng-container>
</div>
