@font-harlow: "Harlow";
@font-leelaw: "Leelaw";
@font-size-navigation: 28px;
@font-size-title: 42px;
@font-size-regular: 12px;

@padding-default: 6px;

@bugore-color: #efcc05;
@bugore-color-hover: #f6d740;

@color-yellow: #efcc05;
@color-red: #c63b36;
@color-blue: #323c91;
@color-green: #246d14;
@color-wild: #000000;
