@import "~src/assets/style/variables.less";

.card-container {
  display: flex;
}

.count {
  display: flex;
  align-items: flex-end;
}

.COLOR-type {
  color: @color-yellow;
  border-bottom: @color-yellow solid 1px;
}

.RUN-type {
  color: @color-green;
  border-bottom: @color-green solid 1px;
}

.SET-type {
  color: @color-blue;
  border-bottom: @color-blue solid 1px;
}
