@import "~src/assets/style/variables.less";

.home-button a {
  font-family: @font-harlow, sans-serif !important;
  font-size: @font-size-navigation;
  text-decoration: none;
  color: @bugore-color;

  &:hover {
    color: @bugore-color-hover;
  }
}
