@import "~src/assets/style/harlow.less";
@import "~src/assets/style/variables.less";

.home-button {
  font-family: @font-harlow, sans-serif;
  font-size: @font-size-navigation;
  & a {
    text-decoration: none;
    color: @bugore-color;

    &:hover {
      color: @bugore-color-hover;
    }
  }
}
