/* You can add global styles to this file, and also import other style files */
@import "~src/assets/style/harlow.less";
@import "~src/assets/style/leelaw.less";
@import "~src/assets/style/variables.less";

* {
  font-family: @font-leelaw;
}

.container {
  position: relative;
  padding: @padding-default;
}

.w-40 {
  width: 40vw;
}

.w-20 {
  width: 20vw;
}

.w-15 {
  width: 15vw;
}
