@import "~src/assets/style/variables.less";

.card {
  width: 20px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.WILD-color {
  color: @color-yellow;
  background-color: @color-wild;
}

.RED-color {
  background-color: @color-red;
}

.BLUE-color {
  background-color: @color-blue;
}

.GREEN-color {
  background-color: @color-green;
}

.YELLOW-color {
  background-color: @color-yellow;
}
